<%def name="init()"><%
page['title'] = status_code
%></%def>\
<%inherit file="/base.html.template"/>\
<h1>Something's not right. (${status_code})</h1>
<h2>You can always return to the ${link("home page").to('home')} and try something else.</h2>
