## % for error in fieldset.errors.get(None, []):
## <div class="fieldset_error">
##   ${error}
## </div>
## % endfor
% for field in fieldset:
##  % if field.requires_label:
%if field.errors:
<div class="input_errors">
%else:
<div>
%endif
${field.label()}
% for error in field.errors:
<span class="field_error">${error}</span>
% endfor
  ${field}
</div>
% endfor

