% for field in fieldset:
<div${literal(" class=\"input_errors\"") if field.errors else ""}>
${field.label()}
% for error in field.errors:
<span class="field_error">${error}</span>
% endfor
    ${field}
</div>
% endfor
